<mat-toolbar #footerToolbar color="primary" fxShow.gt-xs="false" fxLayout="row">
  <mat-toolbar-row>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="grow" routerLink="accueil">
      <mat-icon>home</mat-icon>
      <span>Accueil</span>
    </div>
    
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="grow">
      <mat-icon>search</mat-icon>
      <span>Rechercher</span>
    </div>
    
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="grow">
      <mat-icon>person</mat-icon>
      <span>Mon compte</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>